<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>ScoreDei</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" th:href="@{menuStart}">ScoreDei</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{menuUser}">Home</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{seeStatistics}">Statistics</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{menuStart}">Logout</a></li>

            </ul>
        </div>
    </div>
</nav>
<!-- Page content-->
<div class="container">
    <div class="text-center mt-5">
        <h1>User Page</h1>

        <h1>List of Current/Future Games</h1>

        <div th:if= "${games}">

            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Place</th>
                    <th scope="col">Date</th>
                    <th scope="col">Team 1</th>
                    <th scope="col">Team 2</th>
                </tr>
                </thead>
                <tbody>
                <tr style="border-style: groove" th:each="s : ${games}">
                    <th scope="row" th:text="${s.id}">id</th>

                    <td th:text="${s.place}">place</td>
                    <td th:text="${s.time}">time</td>
                    <td th:text="${s.team1.name}">team1</td>
                    <td th:text="${s.team2.name}">team2</td>
                    <td><a class="btn btn-info" th:href="@{seeGameEvents(id=${s.id})}">See Events</a></td>
                    <td><a class="btn btn-info" th:href="@{createEvent(id=${s.id})}">Add Event</a></td>
                </tr>

                </tbody>
            </table>

        </div>
        <div th:unless="${games}">
            <p class="lead">Empty List...</p>
        </div>

        <form th:action="@{/listGamesNoLogin}" method="GET">
            <button class="btn btn-warning" type="submit">Refresh</button>
        </form>
    </div>
</div>
<!-- Bootstrap core JS-->
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</body>
</html>